// $primary: E1FFDA;
// $secondary: red;
// $light: FF2323;
//
// $primary-blue: blue;
// $secondary-blue: #4286f4;
// $background-grey: #c0cde0;
// $blue-hover: #85b3fc;
//

@import '~bootstrap/scss/bootstrap';

$primary-one: #E1FFDA;
$secondary: red;
$light: #FF2323;
$pink-hover: #FF6060;

$primary-blue: blue;
$secondary-blue: #4286f4;
$background-grey: #c0cde0;
$blue-hover: #85b3fc;

* {
  font-family: 'Ubuntu Condensed', sans-serif;
}
body {
  background-color: $primary-one;
}
h1 {
  color: black;
  text-align: center;
}

.container {
  background-color: red;
  height: 450px;
  width: 450px;
  margin: 0 auto;
  font-family: sans-serif;
}

input {
  border: solid #000;
  border-width: 2px;
}
h1 {
  font-size: 70px;
}

.Login, {
  margin-left: 20px;
  height: 100px;
}
p {
  // margin-left: 20px;
  font-size: 30px;
  color: black;
  margin-bottom: 0px;
}
.but {
  background-color: $light;
}
.but:hover {
  background-color: $pink-hover;
}
.row {
  height: 150px;
}

.col-4 {
  align-items: center;
  border: solid #000;
  border-width: 2px;
  display: flex;
  justify-content: center;
  font-size: 80px;
}

.col-4:hover {
  background-color: $pink-hover;
}

h2, h4, .gamesPlayed, .moveMessage {
  color: black;
  text-align: center;
}
.borg {
  color: red;
  text-align: center;
}

form {
  color: black;
}

button {
  font-size: 30px;
  padding: .5em;
  margin-bottom: 10px;
  background-color: red;
  border: solid #000;
  border-width: 2px;
}

button:hover {
  background-color: $pink-hover;
}

.playAgain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disappear {
  display: none;
}

.bottomMessages {
  height: 200px;
}
.container {
  margin-top: 20px;
}
.failure {
  color: red;
}
