@import '~bootstrap/scss/bootstrap';

h1 {
  color: blue;
  text-align: center;
}

.container {
  background-color: blue;
  height: 600px;
  width: 600px;
  margin: 0 auto;
}

.row {
  height: 200px;
  border: solid #000;
}

.col-4 {
  align-items: center;
  border: solid #000;
  display: flex;
  justify-content: center;
  font-size: 100px;
}

h2, .borg {
  color: blue;
  text-align: center;
}

form {
  color: blue;
}

.playAgain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blahblah {}
